body {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 5em;
  bottom: 0;
  background: transparent;
}

.search {
  display: inline-flex;
  height: 4em;
  flex-direction: row;
  align-items: center;
}

.search > * {
  margin-left: 1em;
}

input {
    width: 200px;
}
